* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo {
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.nav ul li {
  display: inline;
  padding: 40px;
}
.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.3s ease 0s;
  font-size: 17px;
}
.nav ul li a:hover {
  color: orange;
  text-decoration: underline;
  border: 1px solid white;
}
.nav button {
  padding: 9px 25px;
  background-color: rgb(184, 125, 16);
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.nav button:hover {
  background-color: rgb(144, 97, 10);
  
  text-decoration: underline;
  border: 1px solid white;
}
/* .cart{
  padding: 9px 25px;
  background-color: rgb(184, 125, 16);
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
} */
/*Main Section*/
.main {
  background-image: url("1.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.content {
  position: relative;
  top: 160px;
  left: 150px;
}
.content h1 {
  color: white;
  font-size: 50px;
  word-spacing: 2px;
  padding: 10px 0;
}
.content p {
  font-size: 20px;
  padding-bottom: 10px;
}
.content button {
  padding: 14px 30px;
  background-color: rgb(184, 125, 16);
  color: white;
  border-radius: 50px;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.content button:hover {
  background-color: rgb(208, 135, 26);
}
.image h1 {
  text-align: center;
  text-decoration: underline;
  padding: 10px 0;
  color: rgb(96, 66, 9);
}
.img1 {
  width: 33.33%;
  float: left;
  padding: 5px;
  cursor: pointer;
}

.container h2 {
  text-align: center;
  font-size: 40px;
  color: rgb(116, 79, 11);
  text-decoration: underline;
  padding: 10px 0;
}
.row {
  background-color: rgb(199, 129, 99);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.col1 {
  margin: 40px;
}
#shop {
  color: rgba(6, 2, 61, 0.422);
  position: relative;
  bottom: 30px;
  left: 80px;
  text-decoration: underline;
}
#line {
  color: white;
  line-height: 20px;
}
.footer {
  background-color: black;
 margin-top:50px;
  padding: 50px;
  color: white;
  
}
.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 10px;
  margin: 0 30px;
  font-style: italic;
}
.col-1 ul li {
  text-decoration: none;
  padding: 1px 3px;
  display: block;

  text-align: center;
}
.col-1 a {
  text-decoration: underline;
  color: white;
  display: block;

}

@media screen and (max-width: 763px) {
  .header {
    padding: 50px;
  }
  .logo h2 {
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 110px;
    border: 1px solid white;
  }
  .nav ul li a {
    position: relative;
    top: 40px;
    right: 80px;
  }
  .nav a button {
    position: absolute;
    right: 40px;
    top: 80px;
  }
  .content {
    left: 50px;
  }
  .content h1 {
    font-size: 40px;
  }
  .content p {
    font-size: 15px;
  }
  .container {
    width: 100%;
  }
  .col1 {
    margin: 10px;
  }
  #shop {
    font-size: 30px;
    padding: 40px 160px 0 40px;
    color: rgb(81, 57, 14);
  }
  #line {
    font-size: 10px;
    line-height: 30px;
  }
}
@media screen and (max-width: 763px){
  .slider {
    background-color: rgb(1, 103, 26);
  }
  .slider .slider-items .item img {
    max-width: 800px;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 3px grey;
    cursor: pointer;
    
  }
  .slider .slider-items .item img:hover{
    box-shadow:2px 2px 10px black;
  }
  
  .slider .slider-items .item {
    display: none;
  }
  
  .slider .slider-items .item.active {
    display: block;
  }
  .slider-items {
    padding-top: 100px;
    position: relative;
    left: 400px;
    width: 5000px;
    margin-right:1000px;
  }
  .right-slide {
    width: 30%;
    height: 60px;
    position: relative;
    bottom: 500px;
    left: 920px;
    cursor: pointer;
  }
  .left-slide {
    width: 20%;
    height: 60px;
    position: relative;
    bottom: 420px;
    left: 300px;
    cursor: pointer;
  }
  .ExploreH {
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(67, 49, 139);
    position: relative;
    top: 5px;

    margin-left:3px;
    text-decoration: underline;
    font-size:40px;
  }
  .Add-cart{
    padding:2px 5px;
    position: relative;
    right:40px;
    border-radius: 2px;
    cursor:pointer;
    font-size: 10px;
}
}




/* form Styling */
.container-flex {
  width: 100%;
  height: 100vh;
  background-image: url("10.jpg");
  background-size: cover;
}

.cont {
  width: 50%;
  padding: 20px;
  margin: 5px;
  height: 50vh;
  position: absolute;
  top: 140px;
  left: 350px;
  background-color: rgb(217, 224, 221);
}
.cont h2 {
  text-align: center;
}
input[type="text"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 10px;
  box-sizing: border-box;
  resize: vertical;
}
input[type="password"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 10px;
  box-sizing: border-box;
  resize: vertical;
}
input[type="tel"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 10px;
  box-sizing: border-box;
  resize: vertical;
}
input[type="month"] {
  width: 40%;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 10px;
  box-sizing: border-box;
  resize: vertical;
}
.btn {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: rgb(50, 155, 97);
  margin: 10px;
  box-sizing: border-box;
  resize: vertical;
  color: white;
}
.btn:hover {
  background-color: rgb(11, 82, 58);
}

/* .slide{
  margin:30px;
 
}
.sliderH1{
  text-align: center;
  margin-top: 10px;
  color:rgb(133, 104, 50);
  box-shadow: 0px 0px 3px grey; 
}
.slider{
  padding:10px;
  margin-top: 10px;
  padding-right: 150px;
  background-color: rgb(186, 175, 147);
  box-shadow: 0px 0px 3px grey; 
  display:flex;
  justify-content:center;
  align-items: center;

}
.prev{
  width:60%;
  height:60px;
  position: relative;
  left:70px;
  cursor: pointer;
}
.next{
  width:60%;
  height:60px;
  position: relative;
  left:1009px;
  cursor: pointer;
} */
/* Explore Slider */
.slider {
  background-color: rgb(186, 144, 110);
}
.slider .slider-items .item img {
  max-width: 40%;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 0px 3px grey;
  cursor: pointer;
  margin-top: -70px;
}
.slider .slider-items .item img:hover{
  box-shadow:2px 2px 10px black;
}

.slider .slider-items .item {
  display: none;
}

.slider .slider-items .item.active {
  display: block;
}
.slider-items {
  padding-top: 100px;
  position: relative;
  left: 420px;
  width: 70%;
}
.right-slide {
  width: 160px;
  
  position: relative;
  bottom: 335px;
  left: 800px;
  cursor: pointer;
}
.left-slide {
  width: 110px;

  position: relative;
  bottom: 280px;
  left: 350px;
  cursor: pointer;
}
/* .ExploreH {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(139, 107, 49);
  position: relative;
  top: 5px;
  left: 500px;
  text-decoration: underline;
} */
.sliderH1{
  text-align: center;
  margin-top: 10px;
  color:rgb(133, 104, 50);
  box-shadow: 0px 0px 3px grey; 
}

.detail{
  color:whitesmoke;
  /* background-color: rgb(205, 149, 94); */
  margin: 0px  50px;
 margin-top: -30px;
 font-style: italic;
  
  
}












/* Css of add to cart */
 /* .section1{
  background-color:rgb(214, 195, 170);

} */
/* .cart-box{
  text
} */
.cards
{
    display:inline-block;
    width:18%;
    border-radius: 5px;
   
   margin-left:50px;
   font-family: Arial;
   margin-top: 100px;
   margin-left:150px;
   margin-bottom: 100px;
   background-color: rgb(195, 148, 117);
   cursor:pointer;
}
.cards:hover{
    box-shadow:2px 2px 10px black;
}
.title{
    text-align: center;
    color:black;
    
}
.Add-cart{
    padding:10px;
    margin:10px 65px;
    border-radius: 5px;
    cursor:pointer;
}
.Add-cart:hover{
  background-color: rgb(233, 180, 58);
  transition:.5s ;
  
}
.des p{
  color:black;
  text-align: center;
}

/* cart items */
.product-container{
  max-width: 650px;
  justify-content: space-around;
  margin:0 auto;
  margin-top: 50px;
}
.product-container ion-icon{
  font-size: 25px;
  color:orange;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.product-header{
  width:100%;
  max-width: 650px;
  display :flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin:0 auto;
}
.product-title{
  width: 45%;
}
.price{
  width:15%;
  display: flex;
  align-items: center;
  border-bottom: 1 px solid lightgray;
}
.quantity{
  width:30%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.total{
  width:10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.product{
    width:45%;
    display: flex;
    align-items: center;
    padding:10px 0;
    border-bottom: 1px solid lightslategray;

  }
  .product ion-icon{
    cursor: pointer;
  }

  .products{
    width:100%;
    display:flex;
    flex-wrap: wrap;
  }
  .products img{
    width:55px;
  }
  .basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width:100%;
    padding:10px 0;
  }
  .basketTotalTitle
  {
    width:30%;
  }
  .basketTotal{
    width:15%;
  }
  